header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.da{
    display: flex;
    align-items: center;
}
.alar a{
    text-decoration: none;
    color: grey;
}
.section1 .left button{
    background: rgb(149,7,161);
    background: linear-gradient(90deg, rgba(149,7,161,1) 21%, rgba(145,20,58,1) 50%, rgba(255,0,91,1) 100%); 
    width: 150px;
    height: 40px;
    border-radius: 15px;
}
.left h1{
    font-size: 300%;
}
.left{
    width: 800px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}